<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
      <h2 class="is-size-3 has-text-centered mb-6"><strong>Book Search</strong></h2>
      <input class = "input mb-4" id = "keyword_buku" placeholder="Insert Book Title Here...">
      <button class="button is-black" id="button">Submit</button>

      <div class="book_box_container">

      </div>
    </div>
  </section>
  </body>
  {% endblock %}
</html>