<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
      <p class="m-6 p-6">
        <h1 class="title has-text-centered">
          Hi! Welcome to my website!
        </h1>
        <p class="subtitle has-text-centered">
          Click one of these to get started!
        </p>
      </p>
      <p class="m-6 p-6 has-text-centered">
        <a class="button is-outlined is-large" href="{% url 'profile' %}">
          Profile
        </a>
        <a class="button is-outlined is-large" href="{% url 'portfolio' %}">
          Portfolio
        </a>
      </p>
    </div>
  </section>
  </body>
  {% endblock %}
</html>