{% load static %}

<HTML>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <body>
        <h1>Profil Diri</h1>
        <img img src="{% static 'pepew/images/IMG_1285_Crop.jpg' %}", height="100", width="100">
        <br>
        Nama: Adam Syauqi
        <br>
        NPM: 1906292881
        <br>
        Angkatan: 2019
        <br>
        Tempat Kuliah: Universitas Indonesia
        <br>
        Hobi: Gacha
        <br>
        Deskripsi Tentang Saya: A hardworker, persistent, consistent, photography and music enthusiast, game and cat lover who studies at Computer Science Universitas Indonesia Class of 2019
        <br>
        <br>
        <table><caption>Riwayat Pendidikan</caption>
            <thead>
                <tr>
                    <th>Sekolah</th>
                    <th>Tahun</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TK Al-Ikhsan</td>
                    <td>2004-2008</td>
                </tr>
                <tr>
                    <td>SDI Tugasku</td>
                    <td>2008-2013</td>
                </tr>
                <tr>
                    <td>SMP Labschool Jakarta</td>
                    <td>2013-2016</td>
                </tr>
                <tr>
                    <td>SMA Labschool Jakarta</td>
                    <td>2016-2019</td>
                </tr>
                <tr>
                    <td>Universitas Indonesia</td>
                    <td>2019-Sekarang</td>
                </tr>
            </tbody>
        </table>
        <a href="https://www.instagram.com/adamsyauqi/">
            <img src="{% static 'pepew/images/instagram-logo-png-2426.png' %}", height="50", width="50">
         </a>
    </body>
</HTML>