<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Activity List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/18744820a2.js" crossorigin="anonymous"></script>
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
      <h1 class="has-text-weight-bold has-text-centered is-size-4">Activities List</h1>
      <br>
        <form action="/kegiatanAdd/", method="POST">
          {% csrf_token %}
          {{ form_kegiatan }}
          <button class="button is-success is-fullwidth" type="submit">Add Activity</button>
          <br>
          <br>
        </form>       
        {% for kegiatan in kegiatan_list %}
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  {{ kegiatan.namaKegiatan }}
                  <br>
                  {% for orang in kegiatan.orang_set.all %}
                  <div class="field">
                    <div class="control">
                      <form action="/orangDelete/{{ orang.id }}/", method="POST">
                        {{ orang.namaOrang }}
                        {% csrf_token %}
                      <button type="submit" class="button is-small is-danger"><i class="fas fa-trash-alt"></i></button>
                      </form>
                    </div>
                  </div>
                  {% endfor %}
                  <p>Add Your Name Here</p>
                  <div class="field has-addons">
                    <div class="control">
                      <form method="POST" action="">
                        <input type="hidden" name="kegiatanOrang" value="{{ kegiatan.id }}">
                        {{ form_orang.namaOrang }}
                        {% csrf_token %}
                        </div>   
                        <div class="control">
                          <button class="button is-success" type="submit">Join Activity</button>
                        </div>
                      </form>
                  </div>
                  <div class="field">
                    <form action="/kegiatanDelete/{{ kegiatan.id }}/", method="POST">
                      {% csrf_token %}
                      <button type="submit" class="button is-danger"><i class="fas fa-trash-alt"></i><p>Delete Activity</p></button>
                    </form>
                  </div>
                </p>
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
  </body>
  {% endblock %}
</html>