<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
    {% load static %}
  <section class="section">
    <div class="container">
      <h1 class="title py-2">Course Name</h1>
      <p class="subtitle">{{ matkul_detail.namaMatkul }}</p>
      <h1 class="title py-2">Lecturer</h1>
      <p class="subtitle">{{ matkul_detail.dosenPengajar }}</p>
      <h1 class="title py-2">Credit Score</h1>
      <p class="subtitle">{{ matkul_detail.jumlahSKS }}</p>
      <h1 class="title py-2">Description</h1>
      <p class="subtitle">{{ matkul_detail.deskripsi }}</p>
      <h1 class="title py-2">Term</h1>
      <p class="subtitle">{{ matkul_detail.semester }}</p>
      <h1 class="title py-2">Course Room</h1>
      <p class="subtitle">{{ matkul_detail.ruangKelas }}</p>
    </div>
  </section>
  </body>
  {% endblock %}
</html>