<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courses List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
      <div class="table-container">
        <table class="table is-fullwidth"><caption><h1 class="has-text-weight-bold">Courses List</h1></caption>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Lecturer</th>
                    <th>Credit Score</th>
                    <th>Description</th>
                    <th>Term</th>
                    <th>Course Room</th>
                    <th>Delete Button</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for matkul in object_list %}
                <tr>
                    <td>{{ matkul.namaMatkul }}</td>
                    <td>{{ matkul.dosenPengajar }}</td>
                    <td>{{ matkul.jumlahSKS }}</td>
                    <td>See in Details</td>
                    <td>{{ matkul.semester }}</td>
                    <td>{{ matkul.ruangKelas }}</td>
                    <td><a class="button is-danger is-small" href="{% url 'matkul_delete' matkul.id %}">Delete</a></td>
                    <td><a class="button is-info is-small" href="{% url 'matkul_detail_view' matkul.id %}">Details</a></td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
      </div>
      <a class="button is-success is-fullwidth" href="{% url 'matkul_form_create' %}">Add Course</a>
    </div>
  </section>
  </body>
  {% endblock %}
</html>