<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  {% extends 'navbarFooter.html' %}
  {% load static %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
        <p class="is-size-5 py-3">Are you sure you want to delete "{{item}}"?</p>
        <form action="{% url 'matkul_delete' item.id %}" method="POST">
            {% csrf_token %}
          <a class="button is-danger" href="{% url 'matkul_list_view' %}">Cancel</a>
          <input class="button is-link" type='submit' value="Confirm" />

        </form>
    </div>
  </section>
  </body>
  {% endblock %}
</html>