{% load static %}

<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item is-size-5" href="/">
                <p class="">Home</p>
            </a>
            <a class="navbar-item is-size-5" href="{% url 'books_search' %}">
                <p class="">Books</p>
            </a>
            <a class="navbar-item is-size-5" href="{% url 'kegiatan_list_view' %}">
                <p class="">Activities</p>
            </a>
            <a class="navbar-item is-size-5" href="{% url 'matkul_list_view' %}">
                <p class="">Courses</p>
            </a>
            <a class="navbar-item is-size-5" href="{% url 'profile' %}">
                <p class="">Profile</p>
            </a>
            <a class="navbar-item is-size-5" href="{% url 'portfolio' %}">
                <p class="">Portfolio</p>
            </a>
        </div>
        <div class="navbar-end">

            {% if request.user.is_anonymous %}
            <a class="navbar-item is-size-5" href="{% url 'login' %}">
                <p class="">Login</p>
            </a>
            <a class="navbar-item is-size-5" href="{% url 'signup' %}">
                <p class="">Signup</p>
            </a>
            {% else %}
            <span class="navbar-item is-size-5"><p class="pl-6">Hello, {{request.user}}</p></span>
            <a class="navbar-item is-size-5" href="{% url 'logout' %}">
                <p class="">Logout</p>
            </a>
            {% endif %}
        </div>
    </div>
    </nav>
    <script type="text/javascript">
    (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);

        burger.addEventListener('click', function() {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();
    </script>
    <script src="{% static 'pepew/js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pepew/css/style.css' %}">
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <a href="https://www.instagram.com/adamsyauqi/"><img src="https://files.catbox.moe/nckqtf.png" alt="Insta" height="75" width="75"></a>
            <br>
            <h2>Adam Syauqi Medise</h2>
          </p>
        </div>
      </footer>
</body>