<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
      <div class="field">
        <form method="POST">
        {% csrf_token %}
        
        <div class="control py-3"><input class="button is-success" type='submit' value="Save" /></div>
      </form>
    </div>
    </div>
  </section>
  </body>
  {% endblock %}
</html>