<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photography</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <figure class="image is-3by2">
                    <img src="https://files.catbox.moe/um8tj6.jpg" alt="Universal Studio">
                </figure>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <figure class="image is-3by2">
                    <img src="https://files.catbox.moe/u28gyg.jpg" alt="Ameera">
                </figure>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <figure class="image is-3by2">
                    <img src="https://files.catbox.moe/x2c43m.jpg" alt="Kunto Aji">
                </figure>
              </article>
            </div>
          </div>
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="tile is-child box">
                    <figure class="image is-3by2">
                        <img src="https://files.catbox.moe/m4b56u.jpg" alt="Tari Bali">
                    </figure>
                  </article>
                  <article class="tile is-child box">
                    <figure class="image is-3by2">
                        <img src="https://files.catbox.moe/boze6t.jpg" alt="Puti">
                    </figure>
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <figure class="image is-2by3">
                        <img src="https://files.catbox.moe/7gi90e.jpg" alt="Candissa">
                    </figure>
                  </article>
                </div>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                    <figure class="image is-3by2">
                        <img src="https://files.catbox.moe/dw6vmw.jpg" alt="Dufan">
                    </figure>
                </article>
                <article class="tile is-child box">
                    <figure class="image is-3by2">
                        <img src="https://files.catbox.moe/com563.jpg" alt="Oren Kasur">
                    </figure>
                </article>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <figure class="image is-2by3">
                        <img src="https://files.catbox.moe/w2jqh4.jpg" alt="Universal Studio Dancer">
                    </figure>
                </article>
                <article class="tile is-child box">
                    <figure class="image is-3by2">
                        <img src="https://files.catbox.moe/iypw6q.jpg" alt="Motor">
                    </figure>
                </article>
            </div>
          </div>
    </div>
  </section>
  </body>
  {% endblock %}
</html>