<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
        <p class="m-6">
            <div class="columns my-6 py-6">
                <div class="column has-text-centered my-6 py-6">
                    <a class="title has-text-centered" href="{% url 'photography' %}">
                        Photography
                    </a>
                </div>
                <div class="column has-text-centered my-6 py-6">
                    <a class="title has-text-centered" href="{% url 'programming' %}">
                        Programming
                    </a>
                </div>
            </div>   
        </p>
    </div>
  </section>
  </body>
  {% endblock %}
</html>