<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="https://files.catbox.moe/ouyyhl.png" alt="" height="900" width="600" alt="Profile Photo">
            </div>
            <div class="column">
                <h1 class="is-size-1"><p class="mt-6">Adam Syauqi Medise</p></h1>
                <h2 class="is-size-4">Nickname: Auki</h2>
                <h2 class="is-size-4">NPM: 1906292881</h2>
                <br>
                    <p class="my-6">
                        <h3 class="is-size-5">
                            A hardworker, persistent, consistent, photography and music enthusiast, game and cat lover who studies at Computer Science Universitas Indonesia Class of 2019
                        </h3>
                    </p>
                    <br>
                    <p class="m-6">
                    <table class="table is-fullwidth"><caption><h1 class="has-text-weight-bold">Educational Background</h1></caption>
                        <thead>
                            <tr>
                                <th>School</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TK Al-Ikhsan</td>
                                <td>2004-2008</td>
                            </tr>
                            <tr>
                                <td>SDI Tugasku</td>
                                <td>2008-2013</td>
                            </tr>
                            <tr>
                                <td>SMP Labschool Jakarta</td>
                                <td>2013-2016</td>
                            </tr>
                            <tr>
                                <td>SMA Labschool Jakarta</td>
                                <td>2016-2019</td>
                            </tr>
                            <tr>
                                <td>Universitas Indonesia</td>
                                <td>2019-Sekarang</td>
                            </tr>
                        </tbody>
                    </table>
                    </p>
            </div>
        </div>
        <div id="accordion">
            <div class="s_panel">
                 <h3>Current Activity</h3>
                <div class="s_panel_content">I'm currently building my own custom pc now! I'm also studying/learning how to draw using Adobe Photoshop.</div>
            </div>
            <div class="s_panel">
                 <h3>Organizations</h3>
                <div class="s_panel_content">Back in highschool, I was in the Islamic Youth Organization, as a secretary. In University, I'm currently in an Indonesian Minecraft Community Organization named Mineversal. I'm currently in the IT Division, usually handling event-based servers.</div>
            </div>
            <div class="s_panel">
                <h3>Commitee</h3>
               <div class="s_panel_content">In University, I was in the Year Book Documentation Division (it's for orientation). I handled all the pictures needed foe the book like individual photos and group pictures. I also joined the Graduation Commitee, Open House Fasilkom, and Pesta Rakyat Komputer in the Documentation Division too.</div>
           </div>
           <div class="s_panel">
                 <h3>Achievement</h3>
                <div class="s_panel_content">To be honest, not a lot, but back then I was in the karate championship and got I believe 3rd place for my group.</div>
            </div>
        </div>
    </div>
  </section>
  </body>
  {% endblock %}
</html>