<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Programming</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  {% extends 'navbarFooter.html' %}
  <body>
    {% block content %}
  <section class="section">
    <div class="container">
        <p class="py-6">
            <div class="columns has-text-centered">
                <div class="column">
                    <img src="https://files.catbox.moe/iyy3ir.webp" height="240" width="240">
                    <h1 class="title has-text-centered">
                        <p class="py-6">Basic Python 3.X</p>
                    </h1>
                </div>
                <div class="column">
                    <img src="https://files.catbox.moe/dlatuo.png" height="240" width="240">
                    <h1 class="title has-text-centered">
                        <p class="py-6">Basic Java SE 14</p>
                    </h1>
                </div>
                <div class="column">
                    <img src="https://files.catbox.moe/k4fhub.svg" height="240" width="240">
                    <h1 class="title has-text-centered">
                        <p class="py-6">Basic HTML5</p>
                    </h1>
                </div>
                <div class="column">
                    <img src="https://files.catbox.moe/zuul9q.png" height="240" width="240">
                    <h1 class="title has-text-centered">
                        <p class="py-6">Basic CSS</p>
                    </h1>
                </div>
            </div>
        </p>
    </div>
  </section>
  </body>
  {% endblock %}
</html>