<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  {% extends 'navbarFooter.html' %}
  {% load static %}
  <body>
    {% block content %}
  <section class="section">
    <div class="card has-background-dark">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 has-text-white">Signup</p>
            <p class="subtitle is-6 has-text-white">Please enter the required informations</p>
          </div>
        </div>
        <div class="content">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="field">
              <p class="control has-icons-left">
                {{form.username}}
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                {{form.email}}
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                {{form.password1}}
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                {{form.password2}}
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </p>
            </div>
            <input class="button is-white" type="submit" name="Create User">
          </form>
          <br>
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
        <p class="has-text-white">Already have an account? Login here!</p>
        <a class="button is-link" href="{% url 'login' %}"><p>Login</p></a>
        </div>
      </div>
    </div>
  </section>
  </body>
  {% endblock %}
</html>