#accordion {
    margin:20px;
    background-color:rgb(0, 0, 0);
    
}

h3 {
    border-style: solid;
    text-align: center;
    font-size: 24px;
    font-style: oblique;
    color: white;
}

.s_panel_content {
    border-style: solid;
    padding: 20px;
    background-color: white;
}
.img_class {
    max-width: 150px;
    max-height: 300px;
}